/* Общие стили */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

header .logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

header .logo img {
    height: 70px;
    border-radius: 10px;
    margin-right: 10px;
}

header nav {
    text-align: right;
    padding-right: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

form > * {
    margin: 10px;
}

.updating_btn {
    display: none;
}

main {
    padding: 20px;
}

section#events {
    margin-bottom: 40px;
}

section#events h2 {
    color: #4CAF50;
}

.event {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event h3 {
    color: #333;
}

.event p {
    margin: 10px 0;
}

.actions button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.actions button:hover {
    background-color: #45a049;
}

input {
    display: none;
}

textarea {
    display: none;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* position: absolute; */
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-left: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}